<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
<table th:border="1">
    <tr>
        <th>Car Model</th>
        <th>Model Name</th>
        <th>Year</th>
    </tr>
    <tr th:each=" car : ${cars}">
        <td th:text="${car.getCarModel()}"></td>
        <td th:text="${car.getModelName()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
</table>
</body>
</html>